@charset "utf-8";
/* CSS Document */
html, body {
	height:100%;
	font-family: 'crimson_textitalic';
}
@font-face {
    font-family: 'crimson_textitalic';
    src: url('fonts/crimsontext-italic-webfont.eot');
    src: url('fonts/crimsontext-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimsontext-italic-webfont.woff') format('woff'),
         url('fonts/crimsontext-italic-webfont.ttf') format('truetype'),
         url('fonts/crimsontext-italic-webfont.svg#crimson_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*reset jp*/
.box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
*, p, a {
	margin:0;
	padding:0;
}
ul li {
	list-style:none;
}
a {
	text-decoration:none;
	outline:none;
}
.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}
.ceropacidad {
	opacity:0;
}
h1 {
	font-family: 'crimson_textitalic'!important;
}

#menu {
	position:fixed;
	z-index:9999;
}
#menu ul {
	width:100%;
	overflow:hidden;
	text-align:center;
	margin-top:1%;
}
#menu ul li {
	display:inline-block;
	padding:5px 10px;
	border:3px solid #FFF;
	margin:0px;
}
#menu ul li a {
	color:#FFF;
	margin:0px;
}
#menu ul li:hover a{
}

#inicio {
	background:#e1ded7;
}

#bajada-inicio {
	background:#e1ded7;
	padding:53px 0 74px 0;
}
#bajada-inicio img{
	max-width:100%;
}

#mision {
	background:#e54e4e;
	color:#000;
	padding:62px 0 100px 0;
}
h2.titulo-seccion {
	font-weight:700;
	font-family: 'Varela Round', sans-serif;
	text-transform:uppercase;
}
h2.claro {
	color:#e1ded7;
}
h2.oscuro {
	color:#000;
}
#galeria {
	background:#e1ded7;
	color:#000;
	padding:30px 0 20px 0;
}

#vision {
	background:#e1ded7;
	color:#000;
	padding:30px 0 143px 0;
}
#recomendamos {
	background:#e54e4e;
	color:#000;
	padding:62px 0 100px 0;
}
