@charset "utf-8";
/* CSS Document */
html, body {
	height:100%;
	font-family: 'crimson_textitalic';
}
@font-face {
    font-family: 'crimson_textitalic';
    src: url('fonts/crimsontext-italic-webfont.eot');
    src: url('fonts/crimsontext-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimsontext-italic-webfont.woff') format('woff'),
         url('fonts/crimsontext-italic-webfont.ttf') format('truetype'),
         url('fonts/crimsontext-italic-webfont.svg#crimson_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'crimson_textroman';
    src: url('fonts/crimsontext-roman-webfont.eot');
    src: url('fonts/crimsontext-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimsontext-roman-webfont.woff') format('woff'),
         url('fonts/crimsontext-roman-webfont.ttf') format('truetype'),
         url('fonts/crimsontext-roman-webfont.svg#crimson_textroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*reset jp*/
.box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
*, p, a {
	margin:0;
	padding:0;
}
ul li {
	list-style:none;
}
a {
	text-decoration:none;
	outline:none;
}
.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}
.ceropacidad {
	opacity:0;
}
h1 {
	font-family: 'crimson_textitalic'!important;
}
.label-ong {
	position:fixed;
	width:30px;
	height:14px;
	background:url(img/label-ong.png) center center no-repeat;
	top:10px;
	left:10%;
	z-index:99999;
}



#menu {
	position:fixed;
	z-index:9999;
}
#menu ul {
	width:100%;
	overflow:hidden;
	text-align:center;
	margin-top:1%;
}
#menu ul li {
	display:inline-block;
	margin:13px -3px;
}
#menu ul li a {
	display:block;
	width:100%;
	height:36px;
	padding:5px 28px;
	border:3px solid #FFF;
	color:#FFF;
	margin:0px;
	text-transform:lowercase;
	font-weight:700;
	font-family: 'Varela Round', sans-serif;
	font-size:15px;
}
#menu ul li:hover, #menu ul li a.active {
	border-color:#FFF;
	background:#e54e4e;
}
#menu ul li a:focus {
	outline:none;
	text-decoration:none;
}

#menu ul li:hover a{
	color:#FFF;
	text-decoration:none;
}

#inicio {
	background:#e1ded7;
}

#bajada-inicio {
	background:#e1ded7;
	padding:53px 0 74px 0;
	font-family: 'crimson_textroman';

}
#bajada-inicio h2, #mision h2, #vision h2 {
	font-size:28px;
}

#bajada-inicio img{
	max-width:100%;
}

#mision {
	background:#e54e4e;
	color:#e1ded7;
	padding:62px 0 100px 0;
	font-family: 'crimson_textroman';

}
h2.titulo-seccion {
	font-weight:700;
	font-family: 'Varela Round', sans-serif;
	text-transform:uppercase;
	font-size:2em;
}
h2.claro {
	color:#e1ded7;
}
h2.oscuro {
	color:#000;
}
#galeria {
	background:#e1ded7;
	color:#000;
	padding:30px 0 20px 0;
}
#img-galeria ul li {
	display:inline-block;
	width:28%;
	margin:1%;
	float:left;
}
#img-galeria ul li img {
	width:100%;
}

#vision {
	background:#e1ded7;
	color:#000;
	padding:30px 0 143px 0;
	font-family: 'crimson_textroman';	
}
#twitter {
	background:#e54e4e;
	color:#FFF;
	padding:103px 0 118px 0;
}
#recomendamos {
	background:#e54e4e;
	color:#000;
	padding:62px 0 100px 0;
}
#recomendamos .img-logos img {
	max-width:100%;
}


#ejes-de-accion {
	background:#e1ded7;
	color:#000;
	padding:60px 0 60px 0;
}
.servicio {
	margin-bottom:10px;
	min-height:187px;
}
.servicio p {
	font-size:18px;
}
.servicio h4 {
	font-weight:700;
	font-family: 'Varela Round', sans-serif;
	text-transform:uppercase;
	margin:15px 0px;
	font-size:20px;
}

#blog {
	background:#e1ded7;
	padding:50px 0 60px 0;
}
#blog h2{
	margin-bottom:30px;
}
.noticia img{
	padding-bottom:20px;
	border-bottom:3px solid;
	width:100%;
}
.noticia h3 {
	font-family: 'Varela Round', sans-serif;
	text-transform:uppercase;
	font-size:140%;
	font-weight:bold;
	color:#000;
}
.noticia p {
	font-size:17px;
	line-height:19px;
}

.noticia a {
	color:#000;
}
.noticia a.seguir-leyendo {
	font-family: 'Varela Round', sans-serif;
	border:3px solid;
	padding:5px 12px;
	font-weight:bold;
	margin:40px 0 30px 0;
	display:inline-block;
	text-decoration:none;
}
.noticia a.seguir-leyendo:hover {
	color:#e1ded7;
	background:#000;
	border:3px solid;
}
#contacto{
	background:#e54e4e;
	color:#000;
	padding:60px 0 28px 0;
	font-family: 'Varela Round', sans-serif;
}
#contacto p {
	font-size:14px;
	font-weight:bold;
}
#contacto input, #contacto textarea {
	width:100%;
	margin:9px 0;
	border:1px solid #aaaaaa;
	background:#eeece4;
	font-family: 'Varela Round', sans-serif;
	padding:5px 10px;
}
#contacto textarea {
	height:160px;
}
#contacto input[type="submit"] {
	display:inline-block;
	width:23%;
	margin:0 auto;
	border:2px solid;
	background:none;
	color:#000;
	margin-top:30px;
	text-transform:uppercase;
	font-size:12px;
}
#contacto input[type="submit"]:hover {
	color:#e54e4e;
	background:#000;
}
.mapa{
	height:487px;
	width:100%;
}

footer {
	background:#e1ded7;
}
footer ul {
	text-align:center;
}
footer ul li {
	display:inline-block;
	padding:12px 40px;
	text-align:center;
	border-right:2px solid #ff4c4b;
	margin:10px 0 0 0;
}
footer ul li p{
	color:#000;
	font-size:17px;
}
footer ul li a {
	font-size:17px!important;
	color:#000;
	text-decoration:none;
}
footer ul li:first-child p {
	font-family: 'Varela Round', sans-serif;
}
footer ul li:last-child {
	border-right:0px;
}
span.wpcf7-not-valid-tip {
	color:#FFF!important;
}

